.custom-list {
  padding: 1rem;

  .compact-buttons {
    display: inline;
    position: absolute;
    right: 15px;
  }

  th {
    resize: horizontal;
  }

  table {
    &.compact-view {
      td,
      th {
        padding: 0.5rem;
        font-size: 0.8rem;
      }
    }

    &.extra-compact-view {
      td,
      th {
        padding: 0.25rem;
        font-size: 0.6rem;
      }
    }
    
    &.super-compact-view {
      td,
      th {
        padding: 0.15rem;
        font-size: 0.4rem;
      }
    }
  }

  &.wrap-text {
    table {
      td,
      th {
        white-space: normal;
      }
    }
  }
}

thead {
  background-color: lightgray;
  border: black 1px solid;
  th {
    border: black 1px solid;
  }
}

mat-form-field {
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;

  .header-cell {
    display: flex;
    align-items: center;
  }

  .resize-handle {
    width: 10px;
    height: 100%;
    position: absolute;
    right: -5px;
    top: 0;
    cursor: col-resize;
  }
}

.mat-header-cell,
.mat-cell {
  padding: 1rem;
  word-break: break-word;
}

.hidden {
  display: none;
}

.sticky {
  position: sticky;
  width: 150px;
  background-color: lightgray;
  border-right: 2px solid #ccc;
  z-index: 2;
  white-space: nowrap;
}

.header-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shift-arrow {
  height: 14px;
  width: 14px;
}

mat-icon-button {
  margin-left: 5px;
}
