<div class="custom-list">
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput (input)="applyFilter($event)" placeholder="Filter by any column">
    </mat-form-field>
  
    <div>
      <button mat-raised-button color="warn" (click)="hideSelectedRows()">Hide Selected Rows</button>
      <button mat-raised-button color="primary" (click)="unhideRows()">Unhide Rows</button>
      <div class="compact-buttons">
        <button mat-raised-button (click)="toggleView('compact')">Compact View</button>
        <button mat-raised-button (click)="toggleView('extra-compact')">Extra Compact View</button>
        <button mat-raised-button (click)="toggleView('super-compact')">Super Compact View</button>
        <button mat-raised-button (click)="toggleView('default')">Default View</button>
      </div>
    </div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
  cdkDropList (cdkDropListDropped)="onRowDrop($event)" mat-table-resize
  [ngClass]="{'compact-view': compactView, 'extra-compact-view': extraCompactView, 'super-compact-view': superCompactView}">      <ng-container *ngIf="dataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
  
        <!-- Add your existing column definitions here -->
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef [ngClass]="{'sticky': column.sticky}">
              <div class="header-cell" mwlResizable [validateResize]="validateResize" (resizeEnd)="onResizeEnd($event, column)">
                <div mat-sort-header>
                  {{column.header}}
                </div>
                <mat-icon (click)="toggleSticky(column)">push_pin</mat-icon>
                <span class="resize-handle" mwlResizeHandle [resizeEdges]="{ right: true }"></span>
              </div>
            </th>
            <td mat-cell *matCellDef="let row" [ngClass]="{'sticky': column.sticky}">{{column.cell(row)}}</td>
          </ng-container>                 
  
        <tr mat-header-row *matHeaderRowDef="allColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: allColumns;" cdkDrag [cdkDragData]="row" [class.hidden]="isRowHidden(row)"></tr>
      </ng-container>
    </table>
  </div>  