.custom-list {
    padding: 1rem;
  
    &.compact-view {
      table {
        td, th {
          padding: 0.5rem;
        }
      }
    }
  
    &.wrap-text {
      table {
        td, th {
          white-space: normal;
        }
      }
    }
  }
  
  mat-form-field {
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  
  .mat-header-cell,
  .mat-cell {
    padding: 1rem;
    word-break: break-word;
  }

  .hidden {
    display: none;
  }
  
  