.custom-list {
  padding: 1rem;

  &.wrap-text {
    table {
      td, th {
        white-space: normal;
      }
    }
  }
}

.compact-view {
    tr {
      height: 0px;
      padding: 0.5rem;
    }
    td, th, input {
      font-size: 0.75rem;
    }
}


mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: 1rem;
  word-break: break-word;
}

.hidden {
  display: none;
}